@import url(reset.css);
@import url(common.css);

/* ====== layout ====== */
.container {
  max-width: 1140px;
}

.contents {
  position: relative;
}

section {
  padding: 100px 0;
}

/* HEADER START */

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header-inner .logo a {
  font-size: 2.5rem;
  color: var(--color-black);
  font-weight: var(--weight-bold);
  outline: none;
}

/* header MENU */

.menu {
  position: relative;
}

/* hamburgerbar */
.burger-bar {
  position: relative;
  width: 28px;
  height: 28px;
  transition: 0.3s ease-in-out;
  z-index: 999;
  cursor: pointer;
}

.burger-bar span {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  top: 0;
  background-color: #000;
  transition: 0.2s;
}

.burger-bar span:nth-child(1) {
  top: 0;
}

.burger-bar span:nth-child(2),
.burger-bar span:nth-child(3) {
  top: 10px;
}

.burger-bar span:nth-child(4) {
  top: 20px;
}

.burger-bar.open {
  position: fixed;
}

.burger-bar.open span:nth-child(1),
.burger-bar.open span:nth-child(4) {
  opacity: 0;
}

.burger-bar.open span:nth-child(2) {
  transform: rotate(45deg);
}
.burger-bar.open span:nth-child(3) {
  transform: rotate(-45deg);
}

/* Click on the burger bar => site menu 보여지게 */

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  z-index: 1;
}

.overlay ul {
  position: absolute;
  background: #e8e5de;
  top: 0;
  right: 0;
  width: 0;
  visibility: hidden;
  height: 100%;
  padding: 70px 50px 50px 40px;
  transition: 0.3s;
  z-index: 999;
}

.overlay ul li {
  padding: 8px 0;
  opacity: 0;
}

.overlay ul li a {
  color: #000;
  font-size: var(--font-small);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.overlay ul li a:hover,
.overlay ul li a.active {
  opacity: 0.5;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.overlay.visible ul {
  width: 300px;
  visibility: visible;
}

.overlay.visible ul li {
  animation: fadeInLeft 0.3s ease forwards;
}

.overlay.visible ul li:nth-child(1) {
  animation-delay: 0.23s;
}
.overlay.visible ul li:nth-child(2) {
  animation-delay: 0.26s;
}
.overlay.visible ul li:nth-child(3) {
  animation-delay: 0.29s;
}
.overlay.visible ul li:nth-child(4) {
  animation-delay: 0.32s;
}
.overlay.visible ul li:nth-child(5) {
  animation-delay: 0.35s;
}

/* MAIN - first section : title */

.title {
  padding-bottom: 50px;
}

.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title .contents {
  width: 600px;
  text-align: center;
}

.main__title h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  line-height: 70px;
  position: relative;
  margin-bottom: 20px;
}

.main__title p {
  margin-top: 35px;
  font-size: 1.8rem;
}

.main__title .title__bar {
  top: -20px;
  left: -20px;
}

/* MAIN - second section : design */

.design {
  padding-top: 40px;
  padding-bottom: 0;
}

.design .contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.design img {
  padding-right: 10px;
}

/* design__left */

.design__left {
  text-align: center;
  margin-top: 300px;
}

.design__left span {
  display: inline-block;
  margin-bottom: 40px;
}

.design__left p {
  margin-top: 20px;
}

.design__left img {
  max-width: 360px;
}

/* design__right */

.design__right h2 + span {
  display: inline-block;
  margin-bottom: 10px;
}

.design__right .title__bar span {
  top: 5px;
}

.design__right p {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* MAIN - third section : items */

.main__items {
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.items__img {
  margin-right: 20px;
  margin-left: 15px;
}

.items__img:nth-child(1) {
  margin-left: 0;
}

.items__img img {
  width: 160px;
  min-width: 100%;
  height: auto;
  border-radius: 8px;
}

.items__txt {
  flex-wrap: wrap;
}

.items__txt h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin-bottom: 5px;
}

.items__txt p {
  line-height: 1;
  font-size: 1.6rem;
}

/* MAIN - fourth section : collection */

.collection {
  padding-top: 100px;
}

.collection .container {
  padding-left: 15px;
  padding-right: 15px;
}

.col__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.col__title h2 {
  margin-bottom: 40px;
}

.col__title span {
  position: absolute;
  right: 65px;
}

.main__collection {
  position: relative;
}

.main__collection .swiper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.main__collection .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
}

.col__img {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.col__img img {
  display: block;
  width: 100%;
  transition: 0.3s all ease;
}

.swiper-slide:hover .col__img img {
  transform: scale(1.1);
}

.col__txt {
  width: 100%;
  padding: 30px;
  background: var(--color-white);
}

.col__txt h2 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.col__txt p {
  font-size: 1.5rem;
  color: #888;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 0;
  font-size: var(--font-small);
  color: var(--color-black);
  outline: none;
}

.swiper-button-prev {
  top: 43px;
  left: 980px;
}

.swiper-button-next {
  top: 43px;
  right: 18px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}

/* MAIN - fifth section : lookbook */

.main__lookbook {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.look__title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.look__title .col-lg-4 {
  padding-right: 10px;
}

.look__contents {
  display: flex;
  justify-content: center;
}

.look__contents > div:nth-child(1) {
  padding-right: 20px;
}

.look__contents > div:nth-child(2) {
  padding: 0 13px;
}

.look__contents p:nth-child(odd) {
  margin-bottom: 15px;
}

/* MAIN - sixth section : read more */
.main__readmore {
  display: flex;
}

.main__readmore .items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.items__icon {
  font-size: 4rem;
  margin-bottom: 10px;
}

.main__readmore .items__txt h2 {
  font-size: 2rem;
  font-weight: var(--weight-regular);
}

.main__readmore .items__txt p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* MAIN - seventh section : season */
.main__season {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.img__top {
  position: absolute;
  display: block;
  width: 220px;
  top: 150px;
  left: 100px;
}

.img__bottom {
  display: block;
  width: 400px;
  margin-left: 130px;
}

.season__txt p:nth-child(1) {
  margin-bottom: 15px;
}

/* MAIN - ninth section : choose */
.main__choose {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 0 30px;
}

.choose__txt {
  margin-bottom: 50px;
}

.accordion-item {
  background: transparent;
  border: none;
  outline: none;
}

.accordion-button {
  color: var(--color-black);
  font-size: 1.4rem;
  border-bottom: 1px solid #000;
}

.accordion-button:not(.collaped) {
  color: var(--color-black);
  background: transparent;
}

.accordion-button:not(.collapsed) {
  color: var(--color-black);
  font-weight: var(--weight-semi-bold);
  border-bottom: 1px solid #000;
  box-shadow: none;
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #000;
}

.accordion-body {
  padding: 20px;
}

.accordion-body:nth-child(1) p {
  margin-bottom: 20px;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  display: none;
}

.accordion-button i:nth-child(1),
.accordion-button i:nth-child(2) {
  font-size: 1.8rem;
  margin-right: 10px;
}

.accordion-button i:nth-child(2) {
  display: none;
}

.accordion-button:not(.collapsed) i:nth-child(1) {
  display: none;
}
.accordion-button:not(.collapsed) i:nth-child(2) {
  display: block;
}

/* MAIN - tenth section : season2 */
.seasonTwo .main__season {
  display: flex;
  flex-direction: row-reverse;
}

.seasonTwo .main__season .img__top {
  position: absolute;
  top: 150px;
  left: 580px;
}

/* MAIN - eleventh section : blog */
.main__blog {
  padding: 0px;
}

.blog__title {
  padding: 0 15px;
}

.blog__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding: 0 15px;
}

.blog__entry {
  width: 350px;
  position: relative;
  top: 0;
  transition: all 0.3s ease;
}

.blog__entry:hover {
  top: -5px;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.2);
}

.blog__entry img {
  width: 100%;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.blog__entry .blog__txt {
  background: var(--color-white);
  padding: 30px;
  width: 100%;
}

.blog__entry .blog__txt h3 {
  font-size: 1.8rem;
  line-height: 1.1;
  margin-bottom: 15px;
}

.blog__entry .blog__txt span {
  font-size: var(--font-small);
  opacity: 0.5;
}

.blog__entry .blog__txt p {
  margin: 20px 0 20px;
}

/* MAIN - th section : started */
.main__start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__start .contents {
  width: 550px;
  text-align: center;
}

.main__start .contents h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.main__start .contents p {
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  padding-top: 80px;
  padding-bottom: 70px;
}

footer .row {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

footer h3 {
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  margin-bottom: 30px;
}

.f__left .widget:nth-child(1) {
  margin-bottom: 30px;
}

.f__left .widget .social li {
  margin-right: 2px;
}
.f__left .widget .social li:last-child {
  margin-right: 0;
}

.f__right {
  position: relative;
  left: 20px;
}

.f__right .footer-menu {
  display: flex;
  justify-content: space-between;
}

.f__right .footer-menu li {
  display: block;
  margin-bottom: 10px;
}

.f__right .footer-menu li a {
  font-size: var(--font-regular);
  font-family: 'Crimson Text', sans-serif;
}

.f__bottom {
  margin-top: 80px;
}

.f__line {
  width: 100%;
  height: 1px;
  background: #000;
}

.f__line p {
  padding: 40px 0;
  text-align: center;
}
